<div class="hypercube-container">
  <div class="block outer">
    <div class="cube outer">
      <div class="side left"></div>
      <div class="side right"></div>
      <div class="side top"></div>
      <div class="side bottom"></div>
      <div class="side front"></div>
      <div class="side back"></div>
    </div>
  </div>
  <div class="shape inner">
      <div class="cube inner">
        <div class="side left"></div>
        <div class="side right"></div>
        <div class="side top"></div>
        <div class="side bottom"></div>
        <div class="side front"></div>
        <div class="side back"></div>
      </div>
  </div>
</div>
