<div>
  <div class="device_selector">
    <div *ngFor="let choice of choices, let id = index"  class="form-check form-switch fez-switch {{choice}}">
      <input class="form-check-input" type="radio" id="device_{{choice}}" [checked]="(id===0)"  name="device"
        (change)="selectDevice(choice)"
      >
    </div>
  </div>
  <!-- <div class="form-check form-switch fez-switch ps4">
    <input class="form-check-input" type="radio" id="flexSwitchCheckChecked" [checked]="true"  name="device"
      (change)="test('ps4')"
    >
  </div>
  <div class="form-check form-switch fez-switch xbox">
    <input class="form-check-input" type="radio" id="flexSwitchCheckChecked" name="device"
      (change)="test('xbox')"
    >
  </div>
  <div class="form-check form-switch fez-switch switch">
    <input class="form-check-input" type="radio" id="flexSwitchCheckChecked" name="device"
      (change)="test('switch')"
    >
  </div> -->
  <div class="console-swapper-wrapper">
    <div class="console-swapper-cube position-device-{{selectedConsole}} from-{{lastSelectedConsole}}-to-{{selectedConsole}}">
      <div class="front">1</div>
      <div class="back">2</div>
      <div class="right">3</div>
      <div class="left">4</div>
      <div class="top">5</div>
      <div class="bottom">6</div>
    </div>
  </div>
</div>

