<!-- <app-tile [asset]="'02'" ></app-tile>
  <app-tile [asset]="'03'" ></app-tile>
  <app-tile [asset]="'04'" ></app-tile>
  <app-tile [asset]="'05'" ></app-tile>
  <app-tile [asset]="'06'" ></app-tile>
  <app-tile [asset]="'07'" ></app-tile>
  <app-tile [asset]="'02'" ></app-tile>
  <app-tile
    [asset]="'05'"
    [letter]="undefined"
  ></app-tile>
  <app-tile
    [asset]="'10'"
    [letter]="'t'"
  ></app-tile> -->

  <ng-container *ngIf="tiles">
    <app-letter [letter]="'r'" [ngClass]="'reset-btn'" (click)="resetGlyph($event)"></app-letter>
    <app-tile
      *ngFor="let tile of tiles, let id = index;"
      [asset]="tile"
      [letter]="mapping?mapping[tile]:undefined"
      (click)="selectGlyph(id)"
    ></app-tile>
  </ng-container>
