<nav class="navbar navbar-expand-lg navbar-light bg-fez shadom-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="img-logo" src="/assets/logo.png" alt="" srcset="">
      <app-word [word]="'le codex'"></app-word>
    </a>

  </div>
</nav>
<hr class="separator">
<div class="container">
  <div class="row gx-5">
    <div class="col-12 col-lg-auto">
      <app-tablet
      [tiles]="tiles"
      [mapping] = "mapping"></app-tablet>
    </div>
    <div class="col-12 col-lg-auto">
      <app-translator
      [tiles]="tiles"
      [mapping] = "mapping"
      ></app-translator>
    </div>
  </div>
</div>
<hr class="separator">
<div class="container">
  <app-antic-keyboard
  [mapping]="mapping"
  >
</app-antic-keyboard>
  <app-keyboard></app-keyboard>
  <app-codex
  [tiles]="symbols"
  [mapping]="mapping"
  ></app-codex>
</div>
<div class="empty"></div>
<div class="water"></div>
