<nav class="navbar navbar-expand-lg navbar-light bg-fez shadom-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="img-logo" src="./assets/logo.png" alt="" srcset="">
      <span style="color: white;">CoDEX</span>
    </a>
    <a class="navbar-brand" href="https://kwabounga.fr"><app-word [word]="'kwa'"></app-word></a>
  </div>
</nav>
  <!-- scene -->
  <div class="container-fluid {{(currentTile!=='00')?'kbd-select':''}} {{(currentGlyph!==-1)?'antic-kbd-select':''}}">
    <div class="row g-0">
      <div class="col col-12 z-1">
        <app-hypercube></app-hypercube>
        <div class="decor_seagull m-auto"></div>
        <div class="decor_tree"></div>
        <div class="decor_portal">
          <app-space-time-rift
          [offsetY]="scrollY"
          [text]="glitchText"
          ></app-space-time-rift>
        </div>
        <div class="decor_step with-grass with-moss">
          <div class="decor_sign m-l-3"></div>
        </div>
        <div class="decor_low_wall w-80 self-centered with-grass with-moss ">
          <div class="decor_gomez m-l-3"></div>
          <div class="decor_warrior m-l-3"></div>
          <div class="decor_seagull flipped"></div>
          <div class="decor_mister m-l-3"></div>
        </div>
        <div class="decor_ground with-moss "></div>
        <div class="decor_low_wall shadowed w-70 self-centered"></div>
        <div class="row g-0 ">
          <div class="col-6 m-auto ">
            <div class="decor_stone_wall decor_stone_wall-w100 m-auto w-90 not_decor with-moss flex-center">
              <app-message-note class="m-l-2"
              [msgClass]="'mw-5'"
              >cliquer ici pour choisir sa console
              </app-message-note>
              <app-console-swapper
                [consoleID]="consoleID"
                [choices]="allConsoles"
                (swapperChanged)="setDevice($event)"
              ></app-console-swapper>
              <app-screen-glyph
              [tiles]="[ '01', '11', '13', '17', '17', '00', '01', '08', '24', '05', '13', '00', '00', '11', '24', '20', '08', '02', '17', '00', '29', '00', '00', '00', '00', '00', '27', '00', '03', '24', '04', '13', '15', '00', '28', '00', '00', '00', '00', '24', '20', '12', '13', '20', '00', '26', '00', '07', '23', '20', '12', '00', '22', '17', '23', '22', '16', '00', '23', '05', '00', '00', '00', '00', '00', '01', '11', '13', '17', '17', '00', '22', '24', '12', '13', '14', '00', '00' ]"
              [mapping]="mapping"
              [isHalfed]="true"
              [isJustStone]="true"
              [ngClass]="'tablet'"
      ></app-screen-glyph>
          </div>
          </div>
        </div>

        <!-- <div class="row g-0">
          <div class="col-12 col-md-6 ">

          </div>
          <div class="col-12 col-md-6">

          </div>
        </div> -->

        <div class="row g-0">
          <div class="col-12 col-md-6 ">
            <div class="decor_stone_wall not_decor m-l-auto w-90 with-moss with-house">
            <app-wall-tabs
            [messages]="messages"
            (onSelectMessage)="setCurrentMessageId($event)"
            ></app-wall-tabs>
          </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="decor_stone_wall m-r-auto w-90 with-moss with-house with-house-right before-flipped not_decor">

              <br>
              <br>
              <button
                (click)="saveToLocalStorage()"
              > Sauvegarder</button>
              <button
                (click)="retrieveFromLocalStorage()"
              > Charger Sauvegarde</button>
              <app-message-note class="m-l-2"
               [msgClass]="'mw-10'"
              >ici on pourra charger les messages enregistrés
              </app-message-note>
              <div class="decor_intello"></div>
            </div>
          </div>
        </div>

        <div class="decor_ground alt m-auto w-90 with-moss with-grass" ></div>
        <div class="decor_ground alt m-auto w-90"></div>
        <div class="decor_ground shadowed alt m-auto w-80"></div>
        <div class="decor_ground shadowed brown m-auto w-70"></div>
        <div class="decor_ground shadowed brown alt m-auto w-70"></div>
      </div>
      <div class="row g-0">
        <div class="col-12 col-md-6 ">

          <!-- elements -->
        <div class="container">
          <div class="row gx-5 justify-content-center">
            <div class="col-12 col-lg-6  w-auto mt-10">
              <app-tablet
              [tiles]="tiles"
              [mapping] = "mapping"
              [message]="currentMessageObject.message"
              (onErase)="razMessage($event)"
              (onNew)="newMessage($event)"
              (onSelect)="assignGlyph($event)"
              (onSet)="setTiles($event)"
              ></app-tablet>
            </div>
            <div class="col-12 col-lg-6  w-auto mt-10">
              <app-translator
              [tiles]="tiles"
              [mapping] = "mapping"
              (onSave)="saveMessage($event)"
              ></app-translator>
            </div>
          </div>
        </div>
        <!-- !elements -->
        </div>
        <div class="col-12 col-md-6">
          <div class="decor_stone_wall x_h3 not_decor m-r-auto w-64 with-shadow with-house">
            <div class="container {{(currentTile!=='00')?'kbd-select':''}} {{(currentGlyph!==-1)?'antic-kbd-select':''}} logic-elements {{uiHidden?'d-none':''}}">
              <app-antic-keyboard
              [title]="'gLyph kbd'"
              [mapping]="mapping"
              [ngClass]="'antic-keyboard'"
              (onSelect)="onSelectGlyphFromAnticKeyBoard($event)"
              >
            </app-antic-keyboard>
            <!-- <app-antic-keyboard
              [title]="'NUm'"
              [charas]="[ ]"
              [mapping]="mapping"
              [ngClass]="'antic-keyboard-num t-25-r-3'"
              >
            </app-antic-keyboard> -->
              <app-keyboard
              [ngClass]="'keyboard'"
              (onSelect)="onSelectLetterFromKeyBoard($event)">
            </app-keyboard>
              <app-codex
              [tiles]="symbols"
              [mapping]="mapping"
              (onSelect)="assignLetter($event)"
              [currentTile]="currentTile"
              ></app-codex>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12">
        <div class="decor_stone_wall not_decor m-l-auto w-90 flex d-flex justify-content-start flex-row"  >
          <!-- <app-carousel-vertical  [allGlyphs]="['00','01','02','03']"></app-carousel-vertical>
          <app-carousel-vertical  [allGlyphs]="['X','Y','A','B','up','down','right','left','Lt','Rt']"></app-carousel-vertical> -->
          <app-spell-mapping-selector [consoleID]="consoleID"></app-spell-mapping-selector>
          </div>
      </div>
    </div>
  </div>





<div class="empty"></div>
<div class="water"></div>


<div class="form-check form-switch fez-switch abs">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="!uiHidden"
    (change)="toggleUi()"
  >
</div>
