
<div class="space-time-rift-element space-time-rift-pos rifted z-2 {{additionalClass}} shadered {{testAll?'special':''}}" style="background-position-y: {{offsetY}}px;">
  <div class="glitch-wrapper">
    <div class="glitch"[attr.data-glitch]="text">{{text}}</div>
  </div>
</div>
<div class="space-time-rift-element mini space-time-rift-pos rifted z-2  shadered {{!test_obj.m2?'':'d-none'}}"  style="background-position-y: {{offsetY}}px;"></div>
<div class="space-time-rift-element mini mini2 space-time-rift-pos rifted z-2 {{additionalClass}} shadered {{!test_obj.m3?'':'d-none'}}"  style="background-position-y: {{offsetY}}px;"></div>
<div class="space-time-rift-element mini mini3 space-time-rift-pos rifted z-2 {{additionalClass}} shadered {{!test_obj.m5?'':'d-none'}}"  style="background-position-y: {{offsetY}}px;"></div>
